* {
    margin: 0;
    box-sizing: border-box;
    font-family: 'Barlow', sans-serif;
    font-family: 'Philosopher', sans-serif;
}

body {
    height: 100%;
    background: linear-gradient(100deg, rgb(226, 201, 166), rgb(131, 207, 235));
}

nav {
    
    font-family: 'Barlow', sans-serif;
    font-family: 'Philosopher', sans-serif;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    height: 4rem;
    background-color: transparent;
   

    ul {
        list-style: none;
        padding-right: 4rem;

        li {
            font-size: 1.6rem;
            display: inline;
            padding: 0.5rem;
            border-bottom: rgba(247, 112, 112, 0.5);


            &:hover {

                border-bottom: 0.3rem solid rgba(247, 112, 112, 0.5);
                transition: border-bottom 150ms ease-in-out;

            }


            @media (max-width: 768px) {
                font-size: 1rem;
                padding: 0.25rem;
            }

            a {
                font-family: 'Barlow', sans-serif;
                color: black;
                text-decoration: none;
                display: inline-block;
                size: 1rem;



            }
        }
    }
}

.big-container {

    height: 100vh;



    .container {
        height: 91%;
        display: flex;
        justify-content: center;
        align-items: center;


        .card {
            font-family: 'Barlow', sans-serif;
            font-family: 'Philosopher', sans-serif;
            color: rgb(48, 47, 47);
            display: flex;
            height: 80%;
            width: 80%;
            border: 2px solid rgb(117, 114, 114);
            border-radius: 0.6rem;
            box-shadow: 10px 10px 10px 10px rgb(117, 114, 114);

            @media (max-width: 768px) {
                padding: 0rem;
                height: 80%;
                width: 80%;
            }


            .card-left {

                border-radius: 0.6rem;
                height: 100%;
                width: 50%;
                // background-color: rgba(249, 247, 244);

                @media (max-width:768px) {
                    width: 60%;
                }


            }

            .card-right {

                display: flex;
                justify-content: center;
                height: 100%;
                width: 70%;




                .content-card-right {

                    .dynamic {
                        display: block;
                        justify-content: center;
                        align-items: center;
                        height: 3rem;
                        position: absolute;
                        transform: translateY(6rem);
                        overflow: hidden;

                        @media (max-width:800px) {
                            height: 2rem;
                        }

                        @media (max-width:700px) {
                            height: 1.6rem;
                        }

                        @media (max-width:548px) {
                            height: 1.3rem;
                        }

                        @media (max-width:440px) {
                            height: 0.8rem;
                        }


                        .flip {

                            display: block;
                            justify-content: center;
                            align-items: center;
                            position: relative;
                            font-size: 3.5rem;
                            font-weight: bold;
                            color: rgb(233, 117, 117);
                            animation: show 4s infinite;

                            @media (max-width:990px) {
                                font-size: 3rem;
                            }

                            @media (max-width:800px) {
                                font-size: 2rem;
                            }

                            @media (max-width:700px) {
                                font-size: 1.6rem;
                            }

                            @media (max-width:548px) {
                                font-size: 1.3rem;
                            }

                            @media (max-width:440px) {
                                font-weight: bold;
                                font-size: 0.8rem;
                            }

                        }

                        @keyframes show {

                            0% {

                                transform: translateY(-15%);
                            }

                            33% {
                                transform: translateY(-114%);
                            }

                            66% {
                                transform: translateY(-212%);
                            }

                            100% {
                                transform: translateY(-315%);

                            }


                        }



                    }


                }

                .contacts-links {
                    position: absolute;
                    height: 4rem;
                    transform: translate(-1.5rem, 30rem);

                    @media (max-width:1080px) {
                        transform: translate(-2.3rem, 30rem);
                    }

                    ul {
                        position: relative;
                        list-style: none;

                        li {
                            display: inline;
                            padding: 0.2rem;

                            a {

                                img {
                                    height: 1.4rem;



                                    @media (max-width:852px) {
                                        height: 1.2rem;

                                    }
                                }
                            }
                        }
                    }
                }

                h1 {

                    display: flex;
                    justify-content: center;
                    align-items: center;
                    position: relative;
                    transform: translateY(4rem);

                }



            }

            @media (max-width:980) {
                font-size: 0.6rem;
            }

            @media (max-width:768px) {
                font-size: 0.6rem;
            }
        }
    }
}

#projects {
    height: 100%;

    .container{

        height:100%;
         display: flex;
        flex-direction: column;

        
        .heading{
           

            font-size: 2.5rem;
            font-weight: bold;
            padding-top:2rem;
            width:100%;
            display:flex;
            justify-content: center;

            
            @media (max-width: 768px) {
                font-size: 2rem;
                
            }
        }
        .timeline{
            width: 100%;
            height: 100%;
            display: flex;
            flex-direction:column;
            position: relative;


            &::after{
                content:'';
                position:absolute;
                width: 0.3rem;
                top:2rem;
                bottom:0;
                left:50%;
                border:2px solid rgb(225, 233, 236);
                background-color: rgb(225, 233, 236);
                

                @media (max-width:600px) {
                    left:2rem;
                    
                }
            }

            .contains {
                 padding: 8rem 3rem;
                 position: relative;
                width: 50%;
              
              
              /* The circles on the timeline */
              &::after {
                content: '';
                position: absolute;
                width: 1.8rem;
                height: 1.8rem;
                right:-1.4rem;
                top:4rem;
                background-color: white;
                border: 4px solid #FF9F55;
                border-radius: 50%;
                z-index: 1;
              }
            }

            .left-timeline{
                width:50%;
                left:0;
                &::before {
                    content: "";
                    height: 0;
                    position: absolute;
                    right:1rem;
                    top:4.5rem;
                    width: 0;
                    z-index: 1;
                    border: medium solid white;
                    border-width: 10px 0 10px 10px;
                    border-color: transparent transparent transparent white;
                  }

            }
            .right-timeline{
                right:0;
                &::before {
                    content: " ";
                    height: 0;
                    position: absolute;
                    top: 30%;
                    width: 0;
                    z-index: 1;
                    left: 50%;
                    border: medium solid white;
                    border-width: 10px 10px 10px 0;
                    border-color: transparent white transparent transparent;
                  }
            }

            
        }

        
        
        
    }

}